{% macro card(title, size=10, method='POST') -%}
<div class="col-lg-{{size}}">
    <div class="card card-body bg-light">
        <h3 class="card-header">{{title}}</h3>
        <div class="card-block">
            <form novalidate method="{{method}}">
                <div class="alert alert-danger fade show" style="display: none;">
                    <p class="mb-0"></p>
                </div>
                <div class="alert alert-success fade show" style="display: none;">
                    <p class="mb-0">Operación realizada</p>
                </div>
                {{ caller() }}
            </form>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro cardNoForm(title, size=10) -%}
<div class="col-lg-{{size}}">
    <div class="card card-body bg-light">
        <h3 class="card-header">{{title}}</h3>
        <div class="card-block">
            {{ caller() }}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro dataToJsArr(arr, idattr='id', txtattr='nombre') -%}
[
    {% for i in arr %}
        {
            "id": {{i[idattr]}},
            "text": "{{i[txtattr]}}"
        }
        {% if not loop.last %},{% endif %}
    {% endfor %}
]
{%- endmacro %}

{% macro dataToJsArrMulti(arr, txtattr1, txtattr2, idattr='id') -%}
[
    {% for i in arr %}
        {
            "id": {{i[idattr]}},
            "text": "{{i[txtattr1]}} - {{i[txtattr2]}}"
        }
        {% if not loop.last %},{% endif %}
    {% endfor %}
]
{%- endmacro %}


{% macro input_number(col, name, min=0, required=False, readonly=False, value='') -%}
{% set requiredTag = 'required ' if required else '' %}
{% set readOnlyTag = 'readonly ' if readonly else '' %}
{% set valueTag = 'value='+value|string+' ' if value else '' %}
<div class="col-sm-{{col}}">
	<input type="number" name="{{name}}" class="form-control" placeholder="#" min="{{min}}" max="9999"{{requiredTag}}{{readOnlyTag}}{{valueTag}}>
</div>
{%- endmacro %} 

{% macro input_select(col, name, errmsg, required=0, class='') -%}
{% set requiredTag = 'required ' if required else '' %}
{% set classTag = ' '+class if class else '' %}
<div class="col-sm-{{col}}">
    <select class="form-control select2-single select2-hidden-accessible{{classTag}}" name="{{name}}"{{requiredTag}}>
        <option></option>
    </select>
    <div class="invalid-feedback">{{errmsg}}</div>
</div>
{%- endmacro %} 

{% macro input_msg(col, msg) -%}
<div class="col-sm-{{col}}">
    <p class="my-2 ml-2">{{ msg }}</p>
</div>
{%- endmacro %} 


