{% extends '__base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='css/select2.min.css' ) }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/select2mod.css' ) }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/simple-sidebar.css' ) }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<!-- simple-sidebar-templates https://startbootstrap.com/templates/simple-sidebar/ -->
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" style="color: #c4c905;font-weight: bold;">Alto Pi System</div>
      <div class="list-group list-group-flush">
        {% include '_menu.html' %}
      </div>
    </div>
    <!-- Nav & Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menú</button>
      </nav>
        <div class="container pt-3">
            <div class="row content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});
</script>
<script src="{{ url_for('static', filename='js/select2.min.js' ) }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/common_forms.js' ) }}" type="text/javascript"></script>
<!-- <script src="{{ url_for('static', filename='js/jquery.validate.min.js' ) }}" type="text/javascript"></script> -->
{% block js %}{% endblock %}
{% endblock %}