<li>
    <a href="#pikasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pikas</a>
    <ul class="collapse list-unstyled" id="pikasSubmenu">
        <li>
            <a href="{{url_for('main.menu_armadopika')}}">Ingresar armado</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_stockpikas')}}">Stock</a>
        </li>
        {% if current_user.isadmin %}
        <li>
            <a href="{{url_for('main.menu_agregelimpika')}}">(Agregar/elim. pika)</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_modificarstockpika')}}">(Modificar stock)</a>
        </li>
        {% endif %}
    </ul>
</li>
<li>
    <a href="#insumosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Insumos</a>
    <ul class="collapse list-unstyled" id="insumosSubmenu">
        <li>
            <a href="{{url_for('main.menu_ingresarinsumo')}}">Ingresar insumos</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_rolloplaabierto')}}">Rollo PLA abierto</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_insumoabierto')}}">Insumo abierto</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_stockinsumos')}}">Stock</a>
        </li>
        {% if current_user.isadmin %}
        <li>
            <a href="{{url_for('main.menu_agregeliminsu')}}">(Agregar/elim. insumo)</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_asociarinsumospika')}}">(Asociar insumos a pika)</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_listadoinsumospikas')}}">(Listado asociaciones)</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_modificarstockinsu')}}">(Modificar stock)</a>
        </li>
        {% endif %}
    </ul>
</li>
<li>
    <a href="#ventasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ventas</a>
    <ul class="collapse list-unstyled" id="ventasSubmenu">
        <li>
            <a href="{{url_for('main.menu_ingresarventa')}}">Ingresar venta</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_listadoventas')}}">Listado</a>
        </li>
        {% if current_user.isadmin %}
        <li>
            <a href="{{url_for('main.menu_agregelimtipoventa')}}">(Agregar/elim. tipo venta)</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_eliminarventa')}}">(Eliminar venta)</a>
        </li>
        {% endif %}
    </ul>
</li>
<li>
    <a href="#fallasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Fallas</a>
    <ul class="collapse list-unstyled" id="fallasSubmenu">
        <li>
            <a href="{{url_for('main.menu_ingresarfalla')}}">Ingresar falla</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_listadofallas')}}">Listado</a>
        </li>
        {% if current_user.isadmin %}
        <li>
            <a href="{{url_for('main.menu_agregelimgcode')}}">(Agregar/elim. g-code)</a>
        </li>
        <li>
            <a href="{{url_for('main.menu_agregelimmaquina')}}">(Agregar/elim. máquina)</a>
        </li>
        {% endif %}
    </ul>
</li>
<li>
    <a href="#alarmasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Alarmas</a>
    <ul class="collapse list-unstyled" id="alarmasSubmenu">
        <li>
            <a href="{{url_for('main.menu_listadoalarmas')}}">Listado alarmas</a>
        </li>
        {% if current_user.isadmin %}
        <li>
            <a href="{{url_for('main.menu_agregelimalarma')}}">(Agregar/elim. alarma)</a>
        </li>
        {% endif %}
    </ul>
</li>
<li onclick="if (confirm('¿Está seguro que desea salir?')) window.location.href = '{{url_for('main.logout')}}';"><a href="#" style="font-size: 0.8rem;">
    CERRAR SESIÓN
</a></li>