{% set menus = [
	{'name': 'prioridades', 'tit': 'Prioridades impresión', 'submenus': [
		{'endp': 'menu_prioridadimpresion', 'tit': 'Prioridad impresión'},
        {'endp': 'menu_factoresdeimpresion', 'tit': 'Factores de impresión', 'admin': 1},
	]},
	{'name': 'pikas', 'tit': 'Pikas', 'submenus': [
        {'endp': 'menu_ingresarprestock', 'tit': 'Ingresar prestock'},
        {'endp': 'menu_armadopika', 'tit': 'Ingresar stock'},
        {'endp': 'menu_stockpikas', 'tit': 'Stocks'},
        {'endp': 'menu_graficostock', 'tit': 'Gráfico stock'},
        {'endp': 'menu_agregelimpika', 'tit': 'Agregar/elim. pika', 'admin': 1},
        {'endp': 'menu_modificarstockpika', 'tit': 'Modificar stock', 'admin': 1},
        {'endp': 'menu_modificarcolorpikas', 'tit': 'Modificar colores stock', 'admin': 1},
	]},
	{'name': 'insumos', 'tit': 'Insumos', 'submenus': [
        {'endp': 'menu_ingresarinsumo', 'tit': 'Ingresar insumos'},
        {'endp': 'menu_rolloplaabierto', 'tit': 'Rollo PLA abierto'},
        {'endp': 'menu_insumoabierto', 'tit': 'Insumo abierto'},
        {'endp': 'menu_stockinsumos', 'tit': 'Stock'},
        {'endp': 'menu_movimientosstock', 'tit': 'Movimientos Stock'},
        {'endp': 'menu_agregeliminsu', 'tit': 'Agregar/elim. insumo', 'admin': 1},
        {'endp': 'menu_asociarinsumospika', 'tit': 'Asociar insumos a pika', 'admin': 1},
        {'endp': 'menu_listadoinsumospikas', 'tit': 'Listado asociaciones', 'admin': 1},
        {'endp': 'menu_modificarstockinsu', 'tit': 'Modificar stock', 'admin': 1},
		{'endp': 'menu_listadoeditable', 'tit': 'Listado editable', 'admin': 1},
	]},
	{'name': 'ventas', 'tit': 'Ventas', 'submenus': [
        {'endp': 'menu_ingresarpedido', 'tit': 'Ingresar pedido'},
        {'endp': 'menu_listadoventas', 'tit': 'Listado'},
        {'endp': 'menu_agregelimtipoventa', 'tit': 'Agregar/elim. tipo venta', 'admin': 1},
        {'endp': 'menu_eliminarventa', 'tit': 'Eliminar venta', 'admin': 1},
	]},
	{'name': 'fallas', 'tit': 'Fallas', 'submenus': [
        {'endp': 'menu_ingresarfalla', 'tit': 'Ingresar falla'},
        {'endp': 'menu_listadofallas', 'tit': 'Listado'},
        {'endp': 'menu_agregelimgcode', 'tit': 'Agregar/elim. g-code', 'admin': 1},
        {'endp': 'menu_agregelimmaquina', 'tit': 'Agregar/elim. máquina', 'admin': 1},
	]},
	{'name': 'alarmas', 'tit': 'Alarmas', 'submenus': [
        {'endp': 'menu_listadoalarmas', 'tit': 'Listado alarmas'},
        {'endp': 'menu_agregelimalarma', 'tit': 'Agregar/elim. alarma', 'admin': 1},
	]}
] %}
{% for menu in menus %}
<li>
    <a href="#{{menu.name}}Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{menu.tit}}</a>
	<ul class="collapse list-unstyled" id="{{menu.name}}Submenu">
	{% for submenu in menu.submenus %}
		{% set endp_url = url_for(menu.name + '.' + submenu.endp) %}
		{% if submenu.get('admin') %}
			{% if current_user.isadmin %}
	        <li><a href="{{endp_url}}">[{{submenu.tit}}]</a></li>
			{% endif %}
		{% else %}
        <li><a href="{{endp_url}}">{{submenu.tit}}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</li>
{% endfor %}

<li onclick="if (confirm('¿Está seguro que desea salir?')) window.location.href = '{{url_for('main.logout')}}';"><a href="#" style="font-size: 0.8rem;">
    CERRAR SESIÓN
</a></li>
