<a href="{{url_for('main.menu_piezas')}}" class="list-group-item list-group-item-action bg-light">
    Piezas
</a>
<a href="{{url_for('main.menu_modelos')}}" class="list-group-item list-group-item-action bg-light">
    Modelos
</a>
<a href="{{url_for('main.menu_impresiones')}}" class="list-group-item list-group-item-action bg-light">
    Impresiones
</a>
<a href="{{url_for('main.menu_armado')}}" class="list-group-item list-group-item-action bg-light">
    Armado
</a>
<a href="{{url_for('main.logout')}}" style="font-size: 0.8rem;" class="list-group-item list-group-item-action bg-light">
    CERRAR SESIÓN
</a>