{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Agregar máquina', size=6)  %}
<input type="hidden" name="operation" value="add">
<!-- BOTONES -->
<div class="form-group row">
    <div class="col-sm-6">
        <input type="text" name="nombremaqui" class="form-control" placeholder="Nombre" required>
    </div>
    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block">Agregar</button>
    </div>
</div>
{% endcall %}
{% call forms.card('Eliminar máquina', size=6)  %}
<input type="hidden" name="operation" value="delete">
<div class="alert alert-warning fade show">
    <p class="mb-0">Advertencia: esta operación eliminará la máquina y todos sus datos asociados (fallas)</p>
</div>
<!-- Insumo -->
<div class="form-group row">
    {{ forms.input_select(6, "maquina", "Elija una máquina", required=1) }}
    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" onclick="if (!confirm('¿Está segurx que desea eliminar esta máquina?')) event.preventDefault()">Eliminar</button>
    </div>
</div>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {

    regFormValid();

    maqsdata = {{ forms.dataToJsArr(maqs) }};
    sel2('.select2-single[name=maquina]', 'Máquina', maqsdata);
    
});
</script>
{% endblock %}
