{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Agregar g-code', size=6)  %}
<input type="hidden" name="operation" value="add">
<!-- BOTONES -->
<div class="form-group row">
    {{ forms.input_select(4, "pika", "Elija un pika", required=0, class='no-form-clear') }}
    <div class="col-sm-8">
        <input type="text" name="nombregcode" class="form-control" placeholder="Nombre" required>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block">Agregar</button>
    </div>
</div>
{% endcall %}
{% call forms.card('Eliminar g-code', size=6)  %}
<input type="hidden" name="operation" value="delete">
<div class="alert alert-warning fade show">
    <p class="mb-0">Advertencia: esta operación eliminará el g-code y todos sus datos asociados (fallas)</p>
</div>
<!-- Insumo -->
<div class="form-group row">
    {{ forms.input_select(6, "gcode", "Elija una g-code", required=1) }}
    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" onclick="if (!confirm('¿Está segurx que desea eliminar este g-code?')) event.preventDefault()">Eliminar</button>
    </div>
</div>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {

    regFormValid();

    gcodsdata = {{ forms.dataToJsArr(gcods) }};
    sel2('.select2-single[name=gcode]', 'G-code', gcodsdata);

    pikasdata = {{ forms.dataToJsArr(pikas) }};
    sel2('.select2-single[name=pika]', 'Pika', pikasdata);
});
</script>
{% endblock %}
