{% extends '_maingui.html' %}

{% block content %}
<div class="col-lg-6">
    <div class="card card-body bg-light">
        <h3 class="card-header">Piezas</h3>
        <div class="card-block">
            <table class="table table-sm table-striped table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                {% for p in piezs %}
                    <tr>
                        <td scope="row">{{p.nombre}}</td>
                        <td>{{p.cantidad}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card card-body bg-light">
        <h3 class="card-header">Nueva pieza</h3>
        <div class="card-block">
            <form novalidate style="padding-top:10px" id="newImpForm" method="POST">
                <!-- PIEZA -->
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" name="cantidad" class="form-control" placeholder="#" required min="1" max="99999">
                    </div>
                </div>
                <!-- BOTONES -->
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block"">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    regFormValid();

    piezasdata = [
        {% for piez in piezs %}
            {
                "id": {{piez.id}},
                "text": "{{piez.nombre}}"
            }
            {% if not loop.last %},{% endif %}
        {% endfor %}
    ]
    sel2('.select2-single', 'Pieza', piezasdata);
});
</script>
{% endblock %}