{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Agregar/modificar alarma', size=6)  %}
<input type="hidden" name="operation" value="add">
<div class="form-group row">
    <div class="col-sm-6">
        <select class="form-control select2-single select2-hidden-accessible" name="insumo" required>
            <option></option>
        </select>
        <div class="invalid-feedback">
            Elija un insumo
        </div>
    </div>
    <div class="col-sm-3">
        <input type="number" name="cantidadanterior" class="form-control" placeholder="#" min="0" max="9999" readonly>
    </div>
    <div class="col-sm-3">
        <input type="number" name="cantidadnueva" class="form-control" placeholder="#" required min="0" max="9999">
    </div>
</div>
<div class="form-group row">
    <div class="col">
        <button type="submit" class="btn btn-primary btn-block">Agregar</button>
    </div>
</div>
{% endcall %}
{% call forms.card('Eliminar alarma', size=6)  %}
<input type="hidden" name="operation" value="delete">
<!-- Alarma -->
<div class="form-group row">
    <div class="col-sm-6">
        <select class="form-control select2-single select2-hidden-accessible" name="alarma_insumo" required>
            <option></option>
        </select>
        <div class="invalid-feedback">
            Elija una alarma
        </div>
    </div>
    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block">Eliminar</button>
    </div>
</div>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {

    regFormValid(false, function(){ setTimeout('location.reload();', 2000) });

    alarmas = {{ forms.dataToJsArr(alarmas, idattr='insumo_id', txtattr='cantidad') }};

    insusdata = {{ forms.dataToJsArr(insus) }};
    sel2('.select2-single[name=insumo]', 'Insumo', insusdata);
    $('.select2-single[name=insumo]').on('select2:select', function (e) {
        var data = e.params.data;
        insuid=e.params.data.id
        console.log(data, alarmas);
        $('input[name=cantidadanterior]').val('')
        for (al in alarmas){
            if (alarmas[al].id==insuid){
                $('input[type=number]').val(alarmas[al].text);
                break;
            }
        }
    }).on('select2:unselect', function(e){
        $('input[name=cantidadanterior]').val('')
    });

    alarmasdata = {{ forms.dataToJsArr(alarmasinus) }};
    sel2('.select2-single[name=alarma_insumo]', 'Alarma', alarmasdata);
});
</script>
{% endblock %}
