{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Listado insumos pikas')  %}
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>Pika</th>
      <th>Insumo</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    {% for pikainsu in pikainsus %}
        <tr>
            <td>{{pikainsu.pika.nombre}}</td>
            <td>{{pikainsu.insumo.nombre}}</td>
            <td>{{pikainsu.cantidad}}</td>
        </tr>
    {% endfor %}
</table>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    
});
</script>
{% endblock %}
