{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Modificar stock de insumo')  %}
<!-- Pika -->
<div class="form-group row">
    {{ forms.input_select(6, "insumo", "Elija un insumo", required=1) }}
	{{ forms.input_number(3, 'cantidadanterior', min=0, required=0, readonly=1) }}
	{{ forms.input_number(3, 'cantidadnueva', min=0, required=1, readonly=0) }}
</div>
<!-- BOTONES -->
<div class="form-group row">
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block"">Modificar</button>
    </div>
</div>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    regFormValid(false, function(){ setTimeout('location.reload();', 2000) });

    stocks = {{ forms.dataToJsArr(stocks, idattr='insumo_id', txtattr='cantidad') }};

    insusdata = {{ forms.dataToJsArr(insus) }};
    sel2('.select2-single[name=insumo]', 'Insumo', insusdata);
    $('.select2-single[name=insumo]').on('select2:select', function (e) {
        var data = e.params.data;
        insuid=e.params.data.id
        console.log(data, stocks);
        $('input[name=cantidadanterior]').val('')
        for (st in stocks){
            if (stocks[st].id==insuid){
                $('input[type=number]').val(stocks[st].text);
                break;
            }
        }
    }).on('select2:unselect', function(e){
        $('input[name=cantidadanterior]').val('')
    });
});
</script>
{% endblock %}
