{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Modificar stock de insumo')  %}
<!-- Pika -->
<div class="form-group row">
    <div class="col-sm-6">
        <select class="form-control select2-single select2-hidden-accessible" name="insumo" required>
            <option></option>
        </select>
        <div class="invalid-feedback">
            Elija un insumo
        </div>
    </div>
    <div class="col-sm-3">
        <input type="number" name="cantidadanterior" class="form-control" placeholder="#" min="0" max="9999" readonly>
    </div>
    <div class="col-sm-3">
        <input type="number" name="cantidadnueva" class="form-control" placeholder="#" required min="0" max="9999">
    </div>
</div>
<!-- BOTONES -->
<div class="form-group row">
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block"">Modificar</button>
    </div>
</div>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    regFormValid(false, function(){ setTimeout('location.reload();', 2000) });

    stocks = {{ forms.dataToJsArr(stocks, idattr='insumo_id', txtattr='cantidad') }};

    insusdata = {{ forms.dataToJsArr(insus) }};
    sel2('.select2-single[name=insumo]', 'Insumo', insusdata);
    $('.select2-single[name=insumo]').on('select2:select', function (e) {
        var data = e.params.data;
        insuid=e.params.data.id
        console.log(data, stocks);
        $('input[name=cantidadanterior]').val('')
        for (st in stocks){
            if (stocks[st].id==insuid){
                $('input[type=number]').val(stocks[st].text);
                break;
            }
        }
    }).on('select2:unselect', function(e){
        $('input[name=cantidadanterior]').val('')
    });
});
</script>
{% endblock %}
