{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Ingresar apertura de rollo PLA')  %}
<!-- Rollos y Cantidad -->
<div class="form-group row addable">
    {{ forms.input_select(8, "rollopla", "Elija un rollo PLA", required=1) }}
	{{ forms.input_number(4, 'cantidad', min=1, required=1, readonly=0, value=1) }}
</div>
<!-- BOTONES -->
<div class="form-group row">
    <div class="col-sm-4">
        <button type="button" id="btnAdd" class="btn btn-success btn-block"> + </button>
    </div>
    <div class="col-sm-8">
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </div>
</div>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {

    regFormValid();

    plasdata = {{ forms.dataToJsArr(plas) }};
    insurowhtml = $('.addable.form-group.row')[0].outerHTML.replace(/ required/g, '');
    sel2('.select2-single[name=rollopla]', 'Rollo PLA', plasdata);
    $('#btnAdd').click(function(){
        $('.form-group.row').last().before(insurowhtml);
        sel2('.select2-single[name=rollopla]', 'Rollo PLA', plasdata);
    });
});
</script>
{% endblock %}
