.select2-selection__rendered {
    line-height: 33px !important;
}
.select2-container .select2-selection--single {
    height: 37px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

/* lista de resultados más grande! */
.select2-container--default .select2-results > .select2-results__options {
    max-height: 400px;
}