# git + GitHub - https://lifehacker.com/how-the-heck-do-i-use-github-5983680
#python
**/venv
**/__pycache__

#flask
**/logs
**/instance
flask1.zip

#pycharm
**/.idea

#eclipse + pydev
.project
.pydevproject
.settings/
