{% extends '_maingui.html' %}

{% block styles %}
<style>
.wrapper{
    background-image: url('{{ url_for('static', filename='bgimg/prioridades.jpg') }}');
}

.container {
	/*padding-top: 0.7rem !important;*/
}

.card-header{
	background-color: #f8f9fa !important;
}

.card {
	background-color: transparent !important;
	border: none;
}

.pika .pre-card-inner {
	border: solid black 1px;
}

.pika .card-body {
	padding: 0 0.5rem;
}

@media (min-width: 992px) {
	.pika .card-body {
		padding: 0 1.0rem;
	}
}

@media (min-width: 1200px) {
	.pika .card-body {
		padding: 0 1.7rem;
	}
}

.pika .card-text {
	background-color: #f8f9fa !important;
}

.form-check{
	float: right;
	font-size: 1.1rem;
	padding-top: 4px;
}

.form-check-label{
	padding-top: 4px;
}

.pre-card-inner.ticked{
	opacity: 0.3;
}

{% for pika in pikas %}
	.pika-{{ pika.css_class }}{
		/*{{pika.img}}*/
	}
{% endfor %}

.btnToggleUrgentes{
	display: inline-block;
	float: right;
	padding: 0 8px;
}

.bold{font-weight: bold}

.refresh-btn, .export-btn {
  float: right;
  margin-left: 15px;
  margin-top: -10px;
  cursor: pointer;
  position: relative;
}

.refresh-btn {
    width: 39px;
    left: 0;
    top: 8px;
}

.export-btn {
    width: 38px;
    left: 5px;
    top: 8px;
}
</style>
{% endblock %}

{% block content %}

<div class="col-lg-12 mb-3">
    <div class="card card-body bg-light">
		<h3 class="card-header">
			<span>Prioridades de impresión</span>
      <img onclick="exportCsvClick()" class="export-btn" src="{{ url_for('static', filename='img/csv-icon-color-alt.png') }}" />
      <img onclick="refreshClick()" class="refresh-btn" src="{{ url_for('static', filename='img/refresh-icon.png') }}" />
			<div class="form-check">
		    <input type="checkbox" class="form-check-input" id="modoCheck" onchange="modoCheckChange(event)">
		    <label class="form-check-label" for="modoCheck">Modo noche</label>
	  	</div>
			<div class="form-check mr-3">
        <input type="checkbox" class="form-check-input" id="pantallaCompletaCheck" onchange="pantallaCompletaCheckChange(event)">
        <label class="form-check-label" for="pantallaCompletaCheck">Pantalla Completa</label>
      </div>
		</h3>
		{% if urgentes_ventapikas %}
		<div class="alert alert-info fade show urgentes-alert">
			<p class="mb-2">
				Hay pedidos urgentes. Las prioridades se basan en los siguiente pedidos:
				<button type="button" class="btnToggleUrgentes btn btn-secondary">-</button>
			</p>
    		<div class="row pedidos-urgentes">
				{% set vars = {'last_ventid': 0} %}
				{% for ventapi in urgentes_ventapikas %}
					{% if vars.last_ventid != ventapi.venta_id %}
						{% if vars.last_ventid != 0 %}
							</ul></div>
						{% endif %}
						<div class="col-md-6 col-lg-4">
						<p class="mb-0 bold">
							{{ventapi.venta.fecha_pedido.strftime("%d/%m/%Y")}}
							 {{ventapi.venta.ventatipo.nombre}}
						</p>
						<p class="mb-0">
							{{ventapi.venta.comentario}}
						</p>
						<ul>
						{% if vars.update({'last_ventid': ventapi.venta_id}) %}{% endif %}
	            	{% endif %}
					<li class="mb-0">{{ventapi.cantidad}} {{ventapi.pika.nombre}}</li>
				{% endfor %}
				</ul></div>
			</div>
		</div>
		{% endif %}
    </div>
</div>

{% if pantalla_completa %}
  {% set pikas_cols_class = 'col-4 col-md-3 col-lg-2' %}
  {# set card_class = 'pr-1 pl-1' #}
  {% set card_class = '' %}
{% else %}
  {% set pikas_cols_class = 'col-6 col-md-4 col-lg-3' %}
  {% set card_class = '' %}
{% endif %}

{% for prio_pika_id, prio_valor in prioridades %}
	{% set pika = pikas[prio_pika_id] %}
	  <div class="pika {{pikas_cols_class}} pika-{{ pika.css_class }} mb-2 mb-md-3">
	    <div class="card">
	      <div class="card-body text-center {{card_class}}">
		      <div class="pre-card-inner">
					<!--<h5 class="card-title">{{ pika.nombre }}</h5>-->
					<img class="img-fluid img-pika" src="{{ url_for('static' , filename=pika.img ) }}" />
					<p class="card-text mb-0">{{ prio_valor|round(2) }}</p>
					<a href="#" class="d-none btn btn-primary w-100">Imprimir</a>
		      </div>
	      </div>
	    </div>
	  </div>
{% endfor %}

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
  if (location.search.indexOf('modo_noche=si') != -1)
    $('#modoCheck').attr('checked', true)

  if (location.search.indexOf('pantalla_completa=si') != -1){
    $('#pantallaCompletaCheck').attr('checked', true)
    // ocultamos el menú de navegación y el cartel de pedidos urgentes
    $('#sidebar, .urgentes-alert').hide()
    // agrandamos el contenedor principal
    $('#content > .container').removeClass('container').addClass('container-fluid')
  }

	$('.pre-card-inner').on('click', function(){
		$(this).toggleClass('ticked')
	})

	$('.btnToggleUrgentes').click(function(){
		var inner=$(this).html()
		if (inner == '-'){
			$('.pedidos-urgentes').hide()
			$(this).html('+')
		}else{
			$('.pedidos-urgentes').show()
			$(this).html('-')
		}
	}).click()
});

function refreshClick(){
  if ($('.ticked').length > 0 && !confirm('Se van a perder todos los pikas marcados como hechos/en gris'))
    return
  location.reload()
}

function exportCsvClick(){
  // https://www.geeksforgeeks.org/how-to-download-file-using-javascript-jquery/
  location.href = UpdateQueryString('exportar_csv', 'si')
}

function modoCheckChange(e){
	var chkd = $(e. target).is(':checked');
	location.href = UpdateQueryString('modo_noche', chkd?'si':'no')
}

function pantallaCompletaCheckChange(e){
	var chkd = $(e. target).is(':checked');
	location.href = UpdateQueryString('pantalla_completa', chkd?'si':'no')
}

</script>
{% endblock %}
