{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Gráfico Stock', method='GET')  %}
<div class="form-group row">
	{{ forms.input_select(4, 'pikas_select', '') }}
    <div class="col-sm-4">
        <input type="text" class="form-control" name="fechadesde" placeholder="Fecha desde">
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control" name="fechahasta" placeholder="Fecha hasta">
    </div>
</div>
<div class="form-group row">
    <div class="offset-sm-8 col-sm-4">
        <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
    </div>
</div>
<div id="chart"></div>
{% endcall %}
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/apexcharts.min.js' ) }}" type="text/javascript"></script>
<script type="text/javascript">

// ApexCharts - https://apexcharts.com/
var pikasLen = {{pikas_points|length}}
var pointsLen = {{pikas_points[0]|length if pikas_points else 0}}
var pikaNombres = {{pikas_nombres|safe}}
var pikaNombres_lower = []
for (var i=0; i<pikaNombres.length; i++)
	pikaNombres_lower.push(pikaNombres[i].toLowerCase())
	
var zeros = []
for (var i=0; i<pointsLen; i++)
	zeros.push(0)

var widths = [1]
var tooltipsIn = []
var defaultColors = ['#2E93fA', '#66DA26', '#546E7A', '#E91E63', '#FF9800']
var colors = ['#000']
for (var i=0; i<pikasLen; i++){
	widths.push(4)
	tooltipsIn.push(i+1)
	var pikaName = pikaNombres_lower[i]
	if (pikaName.indexOf('baku') != -1)
		colors.push('#ED5034')
	else if (pikaName.indexOf('donn') != -1)
		colors.push('#969696')
	else if (pikaName.indexOf('skup') != -1)
		colors.push('#F8408F')
	else if (pikaName.indexOf('koko') != -1)
		colors.push('#84E300')
	else
		colors.push(defaultColors[i%defaultColors.length])
}
	
$(function() {
	var first_prestock = '{{first_prestock|safe}}'
	if (first_prestock)
		$('.alert-warning').show().find('p').html('Tenga en cuenta que los prestocks solo se registraron desde el ' + first_prestock)
		
    $('input[name="fechadesde"]').add('input[name="fechahasta"]').datepicker()
		
    pikasGroups = [
		{ 'id': 'cogos', 'text': 'Cogos' },
		{ 'id': 'minis', 'text': 'Minis' },
		{ 'id': 'xls', 'text': 'XLs' },
		{ 'id': 'todos', 'text': 'Todos' },
	];
    sel2('.select2-single[name=pikas_select]', 'Pikas', pikasGroups);

	filter_params = {{filter_params|safe}}

	$('input[name="fechadesde"]').datepicker('setDate', filter_params['fechadesde'] || null)
	$('input[name="fechahasta"]').datepicker('setDate', filter_params['fechahasta'])
	$('.select2-single[name=pikas_select]').val(filter_params['pikas_select']).trigger("change");
	
	var win_height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
	var chart_y = $('#chart')[0].getBoundingClientRect().top;
	
	var fechas = {{fechas|safe}}
	
    var options = {
	    chart: {
	        height: win_height - chart_y - 60,
	        type: 'line',
	        zoom: {
	            enabled: false
	        }
	    },
	    series: [
			{
		        name: "0",
		        data: zeros
		    },
			{% for points in pikas_points %}
				{
					name: "{{pikas_nombres[loop.index-1]}}",
					data: {{points}}
				},
			{% endfor %}
		],
		// texto flotante que aparece sobre los puntos de la línea
	    dataLabels: {
	        enabled: false
	    },
		colors: colors,
	    // https://apexcharts.com/docs/options/stroke/
		stroke: {
	        curve: 'straight',
			width: widths
	    },
	    /*title: {
	        text: 'Product Trends by Month',
	        align: 'left'
	    },*/
	    grid: {
	        row: {
	            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
	            opacity: 0.5
	        },
	    },
		// los cartelitos que aparecen cuando le ponés el mouse encima - https://apexcharts.com/docs/options/tooltip/
		tooltip: {
			enabledOnSeries: tooltipsIn,
			x: {
				formatter: function(index, data){
					return fechas[index-1]
				}
			}
		},
		// los textos en los costados, sobre los ejes que dicen qué es la data - https://apexcharts.com/docs/options/legend/
		legend: {
		},
		// los puntitos que aparecen sobre las líneas
		markers: {
			//size: [0, 6],
			size: 0,
			hover:{
				size: 0
			}
		},
		yaxis: {
			title: {
            	text: 'Stock real',
			}
		},
		// https://apexcharts.com/docs/options/xaxis/
	    xaxis: {
	        categories: fechas,
            axisBorder: {
                show: false
            },
			// textito que dice qué opción del xaxis está mostrando (ya se ve en los tooltip de los puntos)
			tooltip: {
				enabled: false
			},
			labels: {
				formatter: function(value, timestamp, index,d) {
					if (value == filter_params['fechadesde'] || value == filter_params['fechahasta'])
						return value
					else{
						if(fechas.indexOf(value)%7 == 0)
							return value
					}
				}
			}
	    }
	}
	
	var chart = new ApexCharts(
	    document.querySelector("#chart"),
	    options
	);
	
	chart.render();

});
</script>
{% endblock %}
