{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Stock de pikas')  %}
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>Pika</th>
      <th>Prestock</th>
      <th>Stock</th>
      <th>Pedidos</th>
      <th>Total</th>
      <th>Actualizado</th>
    </tr>
  </thead>
  <tbody>
    {% for pika_data in DATA %}
		{% set css_class = '' %}
		{% set pika_id = pika_data.Pika.id %}
		{% set prestock = pika_data.PrestockPika.cantidad %}
		{% set stock = pika_data.StockPika.cantidad %}
		{% set pedidos = pika_data.pedidos or 0 %}
		{% set stock_total = prestock + stock - pedidos %}
		
		{% if pika_id in pikascolores %}
			{% if pikascolores[pika_id][0] and stock_total <= pikascolores[pika_id][0] %}
				{% set css_class = 'table-danger' %}
			{% elif pikascolores[pika_id][1] and stock_total <= pikascolores[pika_id][1] %}
				{% set css_class = 'table-warning' %}
    		{% endif %}
    	{% endif %}

        <tr class="{{css_class}}">
            <td>{{pika_data.Pika.nombre}}</td>
            <td>{{prestock}}</td>
            <td>{{stock}}</td>
            <td>{{pedidos}}</td>
            <td>{{stock_total}}</td>
            <td scope="row">
				{% set fecha_mayor = pika_data.PrestockPika.fecha if pika_data.PrestockPika.fecha > pika_data.StockPika.fecha else pika_data.StockPika.fecha %}
				{{fecha_mayor.strftime("%d/%m/%Y %H:%M")}}
			</td>
        </tr>
    {% endfor %}
</table>
<a class="btn btn-primary btn-block" href="{{url_for('pikas.exportar_stockpikas')}}">Exportar a CSV</a>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    
});
</script>
{% endblock %}
