{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Stock de pikas')  %}
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>Pika</th>
      <th>Prestock</th>
      <th>Stock</th>
      <th>Actualizado</th>
    </tr>
  </thead>
  <tbody>
    {% for pika_spika_pspika in DATA %}
        <tr>
            <td>{{pika_spika_pspika[0].nombre}}</td>
            <td>{{pika_spika_pspika[1].cantidad}}</td>
            <td>{{pika_spika_pspika[2].cantidad}}</td>
            <td scope="row">
				{% set fecha_mayor = pika_spika_pspika[1].fecha if pika_spika_pspika[1].fecha > pika_spika_pspika[2].fecha else pika_spika_pspika[2].fecha %}
				{{fecha_mayor.strftime("%d/%m/%Y %H:%M")}}
			</td>
        </tr>
    {% endfor %}
</table>
<a class="btn btn-primary btn-block" href="{{url_for('pikas.exportar_stockpikas')}}">Exportar a CSV</a>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    
});
</script>
{% endblock %}
