{% extends '_maingui.html' %}

{% block styles %}
<style>
.btnEliminarCli, .btnEditarCli{
  width: 30px;
 }

 .button-direccion {
   cursor: pointer;
 }

 .results-form { overflow-x: scroll;}
</style>
{% endblock %}

{% block content %}

{% call forms.cardNoForm('Clientes')  %}

{% if filtrado %}
<div class="alert alert-info fade show">
    <p class="mb-0">(La lista está filtrada. Para eliminar filtro, filtrar con el campo vacío)</p>
</div>
{% endif %}

<div class="form-group row mt-3">
  {{ forms.input_msg(2, 'Filtrar por texto:') }}
  <div class="col-sm-4">
      <input type="text" name="texto" class="form-control" placeholder="(en nombre o contacto)">
  </div>
  <div class="col-6 mt-2 mt-sm-0 col-sm-2">
    <button id="btnFiltrarCli" type="button" class="btn btn-primary" onclick="filtrarCliClick()">
      Aplicar
    </button>
  </div>
  <div class="col-6 mt-2 mt-sm-0 col-sm-4">
    <button id="btnAgregarCli" type="button" class="btn btn-success float-right" onclick="agregarCliClick()">
      + Agregar cliente
    </button>
  </div>
</div>

<div class="row">
  <div class="form-check ml-auto mb-2 mr-4">
    <input type="checkbox" class="form-check-input" id="masDatosCheck" onchange="masDatosCheckChange(event)" {{mas_datos and 'checked=checked' or ''}}>
    <label class="form-check-label" for="masDatosCheck">Más datos</label>
  </div>
</div>

<input type="hidden" name="operation" value="buscar">

{% call forms.form(class='results-form') %}
<input type="hidden" class="eliminar-input" name="operation" value="eliminar">
<input type="hidden" class="eliminar-input" name="id" value="">
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Contacto</th>
      <th>Teléfono</th>
      <th>Mail</th>
      {% if mas_datos %}
        <th>Ventas</th>
        <th>Ventas<br />mensuales</th>
        <th>Última venta</th>
      {% endif %}
      <th>Modif.</th>
      <th>Elim.</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
        <tr>
            <td>{{cliente.nombre or ''}}</td>
            <td>{{cliente.nombre_de_contacto or ''}}</td>
            <td>{{cliente.telefono or ''}}</td>
            <td>{{cliente.mail or ''}}</td>
            {% if mas_datos %}
              <td>{{cliente.ventas_reales_totales}}</td>
              {% if cliente.ventas_mensuales %}
                <td>{{"%0.0f" | format(cliente.ventas_mensuales)}}</td>
              {% else %}
                <td></td>
              {% endif %}
              {% if cliente.ultima_venta_real %}
                <td>{{cliente.ultima_venta_real.fecha.strftime("%d/%m/%Y %H:%M")}}</td>
              {% else %}
                <td></td>
              {% endif %}
            {% endif %}
            <td>
              <button
                type="button"
                class="btnEditarCli btn btn-primary btn-block p-0"
                data-toggle="modal"
                data-target="#clienteModal"
                data-id="{{cliente.id}}"
                data-nombre="{{cliente.nombre or ''}}"
                data-nombre_de_contacto="{{cliente.nombre_de_contacto or ''}}"
                data-telefono="{{cliente.telefono or ''}}"
                data-mail="{{cliente.mail or ''}}"
                data-tipo_cliente_id="{{cliente.tipo_cliente_id or ''}}"
                data-tipo_local_id="{{cliente.tipo_local_id or ''}}"
                data-ubicacion_osm_id="{{cliente.ubicacion_osm_id or ''}}"
                data-ubicacion="{{cliente.ubicacion or ''}}">
                <
              </button>
            </td>
            <td>
              <button
                type="submit"
                class="btnEliminarCli btn btn-danger btn-block p-0"
                data-id="{{cliente.id}}"
                data-nombre="{{cliente.nombre or ''}}"
                onclick="eliminarCliClick(event, this)">
                x
              </button>
            </td>
        </tr>
    {% endfor %}
</table>
{% endcall %} {# /forms.form() #}

{% endcall %} {# /forms.cardNoForm #}

<!-- modal https://getbootstrap.com/docs/4.0/components/modal/ -->
<div id="clienteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="clienteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clienteModalLabel">TITULO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	{% call forms.form()  %}
      <div class="modal-body">
  		  <div class="container-fluid">
          <!-- forms https://getbootstrap.com/docs/4.0/components/forms/ -->
  				<input type="hidden" name="operation" value="OPERATION">
          <div class="form-row">
            <input type="hidden" name="id">
            <div class="form-group col-md-6 col-lg-4">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" name="nombre" placeholder="" required>
            </div>
            <div class="form-group col-md-6 col-lg-4">
              <label for="tipo_cliente">Tipo cliente</label>
              <select class="form-control select2-single select2-hidden-accessible" name="tipo_cliente" style="width:100%">
                  <option></option>
              </select>
            </div>
            <!-- md-12 -->
            <div class="form-group col-md-6 col-lg-4">
              <label for="tipo_local">Tipo local</label>
              <select class="form-control select2-single select2-hidden-accessible" name="tipo_local" style="width:100%">
                  <option></option>
              </select>
            </div>
            <!-- lg-12 -->
            <div class="form-group col-md-6 col-lg-4">
              <label for="nombre_de_contacto">Nombre del contacto</label>
              <input type="text" class="form-control" name="nombre_de_contacto" placeholder="">
            </div>
            <!-- md-12 -->
            <div class="form-group col-md-6 col-lg-4">
              <label for="mail">Mail</label>
              <input type="text" class="form-control" name="mail" placeholder="">
            </div>
            <div class="form-group col-md-6 col-lg-4">
              <label for="telefono">Teléfono</label>
              <input type="text" class="form-control" name="telefono" placeholder="">
            </div>
            <!-- md-12 -->
            <!-- lg-12 -->
    				<input type="hidden" name="ubicacion_osm_data" value="">
            <div class="form-group col-md-8 col-lg-6">
              <label for="ubicacion">Dirección</label>
              <input type="text" class="form-control" name="ubicacion" placeholder="">
            </div>
            <div class="form-group col-md-4 col-lg-2">
              <label class="d-none d-md-block" for="" style="display:block">&nbsp;</label>
              <button type="button" class="btn btn-primary" onclick="clienteBuscarDireccion()">Buscar</button>
            </div>
            <!-- md-12 -->
            <div class="form-group col-md-6 col-lg-4">
              <label for="telefono" style="display:block">Dirección validada</label>
              <button id="clienteUbicacionValidada" type="button" class="btn btn-outline-danger" data-dismiss="modal">NO</button>
            </div>
          </div>
          <div class="list-group" id='clienteResultadosDireccion'></div>
  		  </div><!-- /container-fluid -->
      </div><!-- /modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="clienteButtonAction" type="submit" class="btn btn-primary">ACCIÓN</button>
      </div>
	{% endcall %}
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">

regFormValid(false, function(){ setTimeout('location.reload();', 2000) });

tipoclientesdata = {{ forms.dataToJsArr(tipoclientes) }};
tipoClienteSelect2 = sel2('.select2-single[name=tipo_cliente]', '', tipoclientesdata);

tipolocalesdata = {{ forms.dataToJsArr(tipolocales) }};
tipoLocalSelect2 = sel2('.select2-single[name=tipo_local]', '', tipolocalesdata);

var selectedPlaceData = null

$(function() {
  desvalidarUbicación(true)

  //https://getbootstrap.com/docs/4.0/components/modal/
  $('#clienteModal').on('show.bs.modal', function (event) {
    var thisJq = $(this)
  	var button = $(event.relatedTarget) // Button that triggered the modal
    if (button && button.length){
      //editar
      thisJq.find('input[name=operation]').val('editar')

	  	var id = button.data('id')
	  	var nombre = button.data('nombre')
	  	var nombre_de_contacto = button.data('nombre_de_contacto')
	  	var telefono = button.data('telefono')
	  	var mail = button.data('mail')
	  	var tipo_cliente_id = button.data('tipo_cliente_id')
	  	var tipo_local_id = button.data('tipo_local_id')
	  	var ubicacion_osm_id = button.data('ubicacion_osm_id')
	  	var ubicacion = button.data('ubicacion')

	    thisJq.find('input[name=id]').val(id)
	    thisJq.find('input[name=nombre]').val(nombre)
	    thisJq.find('input[name=nombre_de_contacto]').val(nombre_de_contacto)
	    thisJq.find('input[name=telefono]').val(telefono)
	    thisJq.find('input[name=mail]').val(mail)
      tipoClienteSelect2.val(tipo_cliente_id || null).trigger('change')
	  	tipoLocalSelect2.val(tipo_local_id || null).trigger('change')
      if (ubicacion_osm_id){
        thisJq.find('input[name=ubicacion]').val('')
        $.ajax({
           type: "GET",
           url: 'ubicacionOsmData?id=' + ubicacion_osm_id,
           success: function(json){
             for (var key in json) {
               if (json.hasOwnProperty(key)) {
                 if (json[key] === null)
                  delete json[key]
               }
             }
             validarUbicación(json)
             thisJq.find('input[name=ubicacion]').val(json.display_name)
           }
         })
      }else{
        thisJq.find('input[name=ubicacion]').val(ubicacion)
        desvalidarUbicación()
      }
      $('#clienteResultadosDireccion').html('')

      thisJq.find('#clienteButtonAction').html('Guardar')
      thisJq.find('#clienteModalLabel').html('Modificar cliente')
    }else{
      //agregar
      thisJq.find('input[name=operation]').val('agregar')

      thisJq.find('input[name=id]').val('')
      thisJq.find('input[name=nombre]').val('')
	    thisJq.find('input[name=nombre_de_contacto]').val('')
	    thisJq.find('input[name=telefono]').val('')
	    thisJq.find('input[name=mail]').val('')
      tipoClienteSelect2.val(null).trigger('change')
	  	tipoLocalSelect2.val(null).trigger('change')
      thisJq.find('input[name=ubicacion]').val('')
      desvalidarUbicación()
      $('#clienteResultadosDireccion').html('')

      thisJq.find('#clienteButtonAction').html('Agregar')
      thisJq.find('#clienteModalLabel').html('Agregar cliente')
    }
    thisJq.find('.alert-danger').hide()
  })// end $('#clienteModal').on('show.bs.modal')

  // tab, enter, shift, alt, ctrl, caps, esc, home, end, flechitas, numlock, alt-right
  var admitedKeys = [9, 13, 16, 17, 18, 20, 27, 35, 36, 37, 38, 39, 40, 144, 225]
  $('#clienteModal input[name=ubicacion]').keydown(function(e){
    var keyCode = e.originalEvent.keyCode

    if (admitedKeys.indexOf(keyCode) != -1)
      return

    desvalidarUbicación()
  })
});// end $(function)

function masDatosCheckChange(e){
	var chkd = $(e. target).is(':checked');
	location.href = UpdateQueryString('mas_datos', chkd?'si':'no')
}

function desvalidarUbicación(force){
  if (!selectedPlaceData && !force)
    return

  selectedPlaceData = null
  $('#clienteModal input[name=ubicacion_osm_data]').val(null)
  $('#clienteUbicacionValidada').addClass('btn-outline-danger').removeClass('btn-outline-success').html('NO')
  $('#clienteResultadosDireccion .active').removeClass('active')
}

function validarUbicación(placeData){
  selectedPlaceData = placeData
  $('#clienteModal input[name=ubicacion_osm_data]').val(JSON.stringify(selectedPlaceData))
  $('#clienteUbicacionValidada').removeClass('btn-outline-danger').addClass('btn-outline-success').html('SÍ')
}

function agregarCliClick(){
  //https://getbootstrap.com/docs/4.0/components/modal/
  $('#clienteModal').modal()
}

function eliminarCliClick(event, ele){
  var id = $(ele).data('id')
  var nombre = $(ele).data('nombre')

  if (!confirm('¿Está segurx de que desea borrar el cliente "'+nombre+'"?'))
    event.preventDefault()
    return

  //var formJq = $('#clienteModal form')
  //formJq.find('input[name=id]').val(id)
  //formJq.find('input[name=operation]').val('eliminar')
  $('input.eliminar-input[name=id]').val(id)
  $('input.eliminar-input[name=operation]').val('eliminar')
}

function filtrarCliClick() {
  var texto = $('input[name=texto]').val()
  var url = location.origin + location.pathname
  if (texto)
    url += '?filtro=' + texto
  location.href = url
}

function clienteBuscarDireccion(){
  var texto = $('#clienteModal input[name=ubicacion]').val()
  // https://nominatim.org/release-docs/develop/api/Search/
  var baseUrl = 'https://nominatim.openstreetmap.org/search?format=json&addressdetails=1&countrycodes=ar&limit=10'
  var url = baseUrl + '&q=' + texto.replace(/ /g, '+')
  $.ajax({
       type: "GET",
       url: url,
       success: function(r){
          var resultList = $('#clienteResultadosDireccion')
          resultList.html('')

          if (!r || !r.length)
            return

          for (var i = 0; i < r.length; i++) {
            var item = r[i]
            // https://getbootstrap.com/docs/4.0/components/list-group/
            var button = $('<button type="button" class="button-direccion list-group-item list-group-item-action">')
            button.data('place-data', item)
            button.click(function(){
              var $this = $(this)
              var placeData = $this.data('place-data')

              $('#clienteResultadosDireccion .active').removeClass('active')
              $this.addClass('active')

              $('#clienteModal input[name=ubicacion]').val(placeData.display_name)
              validarUbicación(placeData)
            })
            button.html(item.display_name)
            resultList.append(button)
          }
       },
       error: function(r){
          alert('Ha ocurrido un error al intentar buscar la dirección.\n\nPor favor compruebe los parámetros y su conexión a internet y vuelva a intentar.')
          console.log('Error:', r.state(), '|', r.statusText)
       },
       complete: function(){
       }
  });
}
</script>
{% endblock %}
