{% extends '_maingui.html' %}

{% block content %}
{% call forms.card('Ingresar pedido')  %}
<!-- Tipo y Comentario -->
<div class="form-group row">
    {{ forms.input_select(5, "tipo", "Elija un tipo", required=1) }}
    <div class="col-sm-7">
        <input type="text" name="comentario" class="form-control" placeholder="Comentario">
    </div>
</div>
<!-- Pikas -->
<div class="form-group row addable">
    {{ forms.input_select(8, "pika", "Elija un pika", required=1) }}
	{{ forms.input_number(4, 'cantidad', min=1, required=1, readonly=0) }}
</div>
<!-- BOTONES -->
<div class="form-group row">
    <div class="col-sm-3">
        <button type="button" id="btnAdd" class="btn btn-success btn-block"> + </button>
    </div>
    <div class="col-sm-5">
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </div>
    <div class="col-sm-4 my-auto pl-5 pt-3 pt-sm-0">
	    <input type="checkbox" class="form-check-input" id="vendido">
	    <label class="form-check-label ml-2 align-middle" for="vendido">Vendido</label>
    </div>
</div>
{% endcall %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {

    regFormValid();

    tiposdata = {{ forms.dataToJsArr(ventatipos) }};
    sel2('.select2-single[name=tipo]', 'Tipo', tiposdata);

    pikasdata = {{ forms.dataToJsArr(pikas) }};
    pikarowhtml = $('.addable.form-group.row')[0].outerHTML.replace(/ required/g, '');
    sel2('.select2-single[name=pika]', 'Pika', pikasdata);
    $('#btnAdd').click(function(){
        $('.form-group.row').last().before(pikarowhtml);
        sel2('.select2-single[name=pika]', 'Pika', pikasdata);
    });
});
</script>
{% endblock %}
